<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.dayuanit.atm.domain.User" alias="user"/>
		<typeAlias type="com.dayuanit.atm.domain.BankCard" alias="card"/>
	</typeAliases>

</configuration>
